<<<<<<< HEAD
html,div,ul,li,dl,dt,dd,span,img,a,ol{
	padding:0;
	margin:0;
}
body {
	padding:0;
	margin:0;
	font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
}
body{
	line-height: 22px;
}
a {
    color: #555;
    background-color: transparent;
    text-decoration: none;
}	
h1{
	float: left;
    width: 97px;
    height: 34px;
    margin: 10px 0;
    padding: 0;
    background-image: url(../image/logo_d0915a9.png);
    overflow: hidden;
    text-indent: -99em;
}
/* 图片轮播 */
.carousel_right li>i {
    background: url(../image/thumb_cover_224abb6.png) no-repeat;
    width: 113px;
    height: 42px;
    position: absolute;
}
.carousel_right>em{

	    width: 127px;
	    height: 50px;
	    background: url(../image/control_current_2d877b3.png) 0 0 no-repeat;
	    position: absolute;
	    z-index: 1010;
	    top: 0;
	    left: -6px;
}
.current {
    border-top: 3px solid #00b38a;
    background: #fff;
    color: #333;
}











.head{
	width: 100%;
	margin-bottom: 30px;
	background-color: #333;


}
.head-top{
			margin:0 auto;
			width: 1330px;
		    height: 30px;
		    margin:0 auto;

		}

.clearfix::after{
	content:"";
	height:0px;
	display:block;
	clear:both;
}
.app-nav{
	float:left;
}
.app-nav a{
	text-decoration: none;
	
    float: left;
    line-height: 15px;
    
    margin: 7px 0;
}
.login a{
	text-decoration: none;
	color: #c4c3c3;
    float: left;
    line-height: 15px;
    padding: 0 12px; 
    margin: 7px 0;
}
.app{
	    color: #08d7a2;
	    background: url(../image/app_icon_7554d8e.png) 10px 0 no-repeat;
	    padding: 0 12px 0 27px;
}
.app:hover{
	color: #05eaaf;
}
.app-text{
		color: #c4c3c3;
	    padding: 0 12px;
	    border-left: 1px solid #5d5d5d;
}
.app-text:hover,.login-zc:hover{
	color: white;
	}

.login{
	float:right;
}
.head-bg{
	width:100%;
	border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.head-next{
	margin:0 auto;
	width: 1024px;
	height: 54px;
    
}
.head-next ul{
	float:left;
	list-style: none;
	height: 54px;
}
.head-next ul li{
	font-size: 18px;
    float: left;
    width: 100px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    
}
.head-next ul li a{
	width: 55px;
    height: 52px;
    display: inline-block;
    
}
.border-bottom-set{
	border-bottom: 2px solid #00b38a;
}
.head-next-left{
	

}
.head-next-nav{

	}
.head-next-nav li{
	float: left;
}
.head-next-left div{
	    float: left;

    height: 44px;
    padding-top: 10px;
    padding-left: 12px;
    font-size: 18px;
    line-height: 44px;
	
}
em,li{
	
        font-style: normal;
}

{
	color: #999;
    font-size: 12px;
    cursor: pointer;
}


.body-bg{
	width:100%;
    z-index: 100;
}
.body-main{
	width:1024px;
	margin:0 auto;
	position: relative;
}
.body-main-left{
	width:230px;
	float:left;
	background: #fafafa;
}
.body-main-nav{
	padding: 6px 12px;
	outline: none;
}
h2 span{
	    width: 13px;
	    height: 14px;
	    background: url(../image/arr_7b73530.png) 0 0 no-repeat;
	    float: right;
	    margin-top: 4px;
}
.body-main-box .body-main-nav a{
    float: left;
    white-space: nowrap;
    margin: 0 5px 5px 0;
    padding: 0 8px;
}
.body-main-box .body-main-nav{
    padding: 6px 12px;
    
    border-right: 0;
    overflow: hidden;
    position: relative;
}
.body-main-nav_sub dt {
    width: 70px;
    font-size: 14px;
    margin: 0;
    text-align: right;
    position: absolute;
}
.body-main-nav_sub dd {
    margin-left: 100px;
    overflow: hidden;
}
.body-main-nav_sub dl {
    margin: 0 0 20px;
}
.body-main-nav_sub{
	width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 0;
    left: 226px;
    z-index: 1;
    border: 2px solid #c9cbce;
    background: #fff;
    
   
}
.body-main-nav_sub_two dt{
    width: 70px;
    font-size: 14px;
    margin: 0;
    text-align: right;
    position: absolute;
}
.body-main-nav_sub_two dd{
    margin-left: 100px;
    overflow: hidden;
}
.body-main-nav_sub_two dl{
    margin: 0 0 20px;
}
.body-main-nav_sub_two{
    width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 148px;
    left: 226px;
    z-index: 1;
    border: 2px solid #c9cbce;
    background: #fff;
    
    
}
.body-main-nav_sub_three dt{
    width: 70px;
    font-size: 14px;
    margin: 0;
    text-align: right;
    position: absolute;
}
.body-main-nav_sub_three dd{
    margin-left: 100px;
    overflow: hidden;
}
.body-main-nav_sub_three dl{
    margin: 0 0 20px;
}
.body-main-nav_sub_three{
    width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 246px;
    left: 226px;
    z-index: 1;
    border: 2px solid #c9cbce;
    background: #fff;
    
    
}
.displayset{
    display: none;
}
.body-main-nav a:hover,.displayset dl dt a:hover,.displayset dl dd a:hover{
    color:#00b38a;
    text-decoration: underline;

}
.borderset{
    border: 2px solid #fafafa;
}
.borderset-1{
    background-color: white;
    border: 2px solid #c9cbce;
    border-right:none; 
    z-index: 120;
    margin-right: 2px;
}

.body-main-nav_sub dl dd a {
    white-space: nowrap;
    padding: 0 10px;
    background: url(../image/arr_7b73530.png) -29px center no-repeat;
    color: #777;
    line-height: 28px;
    margin-left: -1px;
}
.body-main-nav_sub dl dt a {
    padding: 0;
    color: #333;
    line-height: 28px;
    text-decoration: underline;
}
.body-main-nav_sub_two dl dd a {
    white-space: nowrap;
    padding: 0 10px;
    background: url(../image/arr_7b73530.png) -29px center no-repeat;
    color: #777;
    line-height: 28px;
    margin-left: -1px;
}
.body-main-nav_sub_three dl dt a {
    padding: 0;
    color: #333;
    line-height: 28px;
    text-decoration: underline;
}
.body-main-nav_sub_three dl dd a {
    white-space: nowrap;
    padding: 0 10px;
    background: url(../image/arr_7b73530.png) -29px center no-repeat;
    color: #777;
    line-height: 28px;
    margin-left: -1px;
}
.body-main-nav_sub_two dl dt a {
    padding: 0;
    color: #333;
    line-height: 28px;
    text-decoration: underline;
}
.body-main-right{
	width: 744px;
	
	float:left;
        margin-left: 45px;
    /*background-color: yellow;*/
}
.searchinput {
    width: 570px;
    height: 23px;
    line-height: 23px;
    float: left;
    font-size: 16px;
    padding: 5px 8px 5px 10px;
    margin: 0;
    border: 2px solid #00b38a;
    border-right: 0;
}
.searchbox {
    border: 0 solid #00b38a;
    width: 744px;
    height: 37px;
    position: relative;
}
.searchbutton {
    height: 37px;
    width: 154px;
    color: #FFF;
    font-size: 18px;
    border: 2px solid #00b38a;
    background: #00b38a;
    float: right;
    cursor: pointer;
}
.searchbutton:hover {
    background: #00a57f;
}
.hot{
	
	height: 25px;
    margin: 4px 0 6px 0px;
}
.hot dd {
    margin-right: 20px;
}
.hot dd {
    float: left;
}
.hot dt {
    width: 70px;
    font-size: 14px;
    float:left;
}
.hot dd a {
    color: #00b38a;
}


.carousel_left{
	float: left;
	list-style: none;
	position: absolute;
	top:-160px;
}

.carousel_right{
	float:right;
	list-style: none;
	position: relative;
}
=======
html,div,ul,li,dl,dt,dd,span,img,a,ol{
	padding:0;
	margin:0;
}
body {
	padding:0;
	margin:0;
	font-size: 14px;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    color: #333;
    word-wrap: break-word;
}
body{
	line-height: 22px;
}
a {
    color: #555;
    background-color: transparent;
    text-decoration: none;
}	
h1{
	float: left;
    width: 97px;
    height: 34px;
    margin: 10px 0;
    padding: 0;
    background-image: url(../image/logo_d0915a9.png);
    overflow: hidden;
    text-indent: -99em;
}
/* 图片轮播 */
.carousel_right li>i {
    background: url(../image/thumb_cover_224abb6.png) no-repeat;
    width: 113px;
    height: 42px;
    position: absolute;
}
.carousel_right>em{

	    width: 127px;
	    height: 50px;
	    background: url(../image/control_current_2d877b3.png) 0 0 no-repeat;
	    position: absolute;
	    z-index: 1010;
	    top: 0;
	    left: -6px;
}
.current {
    border-top: 3px solid #00b38a;
    background: #fff;
    color: #333;
}











.head{
	width: 100%;
	margin-bottom: 30px;
	background-color: #333;


}
.head-top{
			margin:0 auto;
			width: 1330px;
		    height: 30px;
		    margin:0 auto;

		}

.clearfix::after{
	content:"";
	height:0px;
	display:block;
	clear:both;
}
.app-nav{
	float:left;
}
.app-nav a{
	text-decoration: none;
	
    float: left;
    line-height: 15px;
    
    margin: 7px 0;
}
.login a{
	text-decoration: none;
	color: #c4c3c3;
    float: left;
    line-height: 15px;
    padding: 0 12px; 
    margin: 7px 0;
}
.app{
	    color: #08d7a2;
	    background: url(../image/app_icon_7554d8e.png) 10px 0 no-repeat;
	    padding: 0 12px 0 27px;
}
.app:hover{
	color: #05eaaf;
}
.app-text{
		color: #c4c3c3;
	    padding: 0 12px;
	    border-left: 1px solid #5d5d5d;
}
.app-text:hover,.login-zc:hover{
	color: white;
	}

.login{
	float:right;
}
.head-bg{
	width:100%;
	border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.head-next{
	margin:0 auto;
	width: 1024px;
	height: 54px;
    
}
.head-next ul{
	float:left;
	list-style: none;
	height: 54px;
}
.head-next ul li{
	font-size: 18px;
    float: left;
    width: 100px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    
}
.head-next ul li a{
	width: 55px;
    height: 52px;
    display: inline-block;
    
}
.border-bottom-set{
	border-bottom: 2px solid #00b38a;
}
.head-next-left{
	

}
.head-next-nav{

	}
.head-next-nav li{
	float: left;
}
.head-next-left div{
	    float: left;

    height: 44px;
    padding-top: 10px;
    padding-left: 12px;
    font-size: 18px;
    line-height: 44px;
	
}
em,li{
	
        font-style: normal;
}

{
	color: #999;
    font-size: 12px;
    cursor: pointer;
}


.body-bg{
	width:100%;
    z-index: 100;
}
.body-main{
	width:1024px;
	margin:0 auto;
	position: relative;
}
.body-main-left{
	width:230px;
	float:left;
	background: #fafafa;
}
.body-main-nav{
	padding: 6px 12px;
	outline: none;
}
h2 span{
	    width: 13px;
	    height: 14px;
	    background: url(../image/arr_7b73530.png) 0 0 no-repeat;
	    float: right;
	    margin-top: 4px;
}
.body-main-box .body-main-nav a{
    float: left;
    white-space: nowrap;
    margin: 0 5px 5px 0;
    padding: 0 8px;
}
.body-main-box .body-main-nav{
    padding: 6px 12px;
    
    border-right: 0;
    overflow: hidden;
    position: relative;
}
.body-main-nav_sub dt {
    width: 70px;
    font-size: 14px;
    margin: 0;
    text-align: right;
    position: absolute;
}
.body-main-nav_sub dd {
    margin-left: 100px;
    overflow: hidden;
}
.body-main-nav_sub dl {
    margin: 0 0 20px;
}
.body-main-nav_sub{
	width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 0;
    left: 226px;
    z-index: 1;
    border: 2px solid #c9cbce;
    background: #fff;
    
   
}
.body-main-nav_sub_two dt{
    width: 70px;
    font-size: 14px;
    margin: 0;
    text-align: right;
    position: absolute;
}
.body-main-nav_sub_two dd{
    margin-left: 100px;
    overflow: hidden;
}
.body-main-nav_sub_two dl{
    margin: 0 0 20px;
}
.body-main-nav_sub_two{
    width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 148px;
    left: 226px;
    z-index: 1;
    border: 2px solid #c9cbce;
    background: #fff;
    
    
}
.body-main-nav_sub_three dt{
    width: 70px;
    font-size: 14px;
    margin: 0;
    text-align: right;
    position: absolute;
}
.body-main-nav_sub_three dd{
    margin-left: 100px;
    overflow: hidden;
}
.body-main-nav_sub_three dl{
    margin: 0 0 20px;
}
.body-main-nav_sub_three{
    width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 246px;
    left: 226px;
    z-index: 1;
    border: 2px solid #c9cbce;
    background: #fff;
    
    
}
.displayset{
    display: none;
}
.body-main-nav a:hover,.displayset dl dt a:hover,.displayset dl dd a:hover{
    color:#00b38a;
    text-decoration: underline;

}
.borderset{
    border: 2px solid #fafafa;
}
.borderset-1{
    background-color: white;
    border: 2px solid #c9cbce;
    border-right:none; 
    z-index: 120;
    margin-right: 2px;
}

.body-main-nav_sub dl dd a {
    white-space: nowrap;
    padding: 0 10px;
    background: url(../image/arr_7b73530.png) -29px center no-repeat;
    color: #777;
    line-height: 28px;
    margin-left: -1px;
}
.body-main-nav_sub dl dt a {
    padding: 0;
    color: #333;
    line-height: 28px;
    text-decoration: underline;
}
.body-main-nav_sub_two dl dd a {
    white-space: nowrap;
    padding: 0 10px;
    background: url(../image/arr_7b73530.png) -29px center no-repeat;
    color: #777;
    line-height: 28px;
    margin-left: -1px;
}
.body-main-nav_sub_three dl dt a {
    padding: 0;
    color: #333;
    line-height: 28px;
    text-decoration: underline;
}
.body-main-nav_sub_three dl dd a {
    white-space: nowrap;
    padding: 0 10px;
    background: url(../image/arr_7b73530.png) -29px center no-repeat;
    color: #777;
    line-height: 28px;
    margin-left: -1px;
}
.body-main-nav_sub_two dl dt a {
    padding: 0;
    color: #333;
    line-height: 28px;
    text-decoration: underline;
}
.body-main-right{
	width: 744px;
	
	float:left;
        margin-left: 45px;
    /*background-color: yellow;*/
}
.searchinput {
    width: 570px;
    height: 23px;
    line-height: 23px;
    float: left;
    font-size: 16px;
    padding: 5px 8px 5px 10px;
    margin: 0;
    border: 2px solid #00b38a;
    border-right: 0;
}
.searchbox {
    border: 0 solid #00b38a;
    width: 744px;
    height: 37px;
    position: relative;
}
.searchbutton {
    height: 37px;
    width: 154px;
    color: #FFF;
    font-size: 18px;
    border: 2px solid #00b38a;
    background: #00b38a;
    float: right;
    cursor: pointer;
}
.searchbutton:hover {
    background: #00a57f;
}
.hot{
	
	height: 25px;
    margin: 4px 0 6px 0px;
}
.hot dd {
    margin-right: 20px;
}
.hot dd {
    float: left;
}
.hot dt {
    width: 70px;
    font-size: 14px;
    float:left;
}
.hot dd a {
    color: #00b38a;
}


.carousel_left{
	float: left;
	list-style: none;
	position: absolute;
	top:-160px;
}

.carousel_right{
	float:right;
	list-style: none;
	position: relative;
}
>>>>>>> a7c64fb0df78c36df3789aae4bc168257fa7b726
